.ui-widget, .ui-widget .ui-widget { font-size: 95% !important;
}

.header {
 font-style: normal;
 font-weight: bold;
 margin-bottom: 20px;
}

.alignleft {
 text-align: left;
}

.aligncenter {
 text-align: center;
}
		
.alignright {
 text-align: right;
}

.container { 
	width: 100%; 
	height: 100%; 
	display: table;
}

.container-vertically-centered { 
	width: 100%; 
	vertical-align: middle; 
	height: 100%; 
	display: table-cell;
	margin-top : 100px;
}

.container-horizontally-center {
	margin-top : 50px;
	margin-left: auto;
	margin-right: auto;
}


.pageTitle {
	color:black;
	font-size:40px;
	text-align:center;
	background-color: green;
}

.pageHeader {
	color:red;
	background-color: blue;
}

.pageFooter {
	color:red;
	background-color: yellow;
}
